<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yjyy.dao.CourseMapper">
  <resultMap id="BaseResultMap" type="com.example.yjyy.entity.Course">
    <constructor>
      <idArg column="COURSEID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="COURSENAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="COURSETYPE" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="COURSETEACHER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="COURSEPHOTO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DURATION" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="STUDENTNUMBER" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="COURSECOLOR" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="COURSEDIFFICULTY" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="CREATEUSER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATEDATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="MODIFYUSER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="MODIFYDATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="VENUEID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FLAG" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="REMARK" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    COURSEID, COURSENAME, COURSETYPE, COURSETEACHER, COURSEPHOTO, DURATION, STUDENTNUMBER,
    COURSECOLOR, COURSEDIFFICULTY, CREATEUSER, CREATEDATE, MODIFYUSER, MODIFYDATE, VENUEID, 
    FLAG, REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yj_course
    where COURSEID = #{courseid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from yj_course
    where COURSEID = #{courseid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.yjyy.entity.Course">
    insert into yj_course (COURSEID, COURSENAME, COURSETYPE, 
      COURSETEACHER, COURSEPHOTO, DURATION,
      STUDENTNUMBER, COURSECOLOR, COURSEDIFFICULTY, 
      CREATEUSER, CREATEDATE, MODIFYUSER, 
      MODIFYDATE, VENUEID, FLAG, 
      REMARK)
    values (#{courseid,jdbcType=VARCHAR}, #{coursename,jdbcType=VARCHAR}, #{coursetype,jdbcType=CHAR}, 
      #{courseteacher,jdbcType=VARCHAR}, #{coursephoto,jdbcType=VARCHAR}, #{duration,jdbcType=INTEGER},
      #{studentnumber,jdbcType=INTEGER}, #{coursecolor,jdbcType=VARCHAR}, #{coursedifficulty,jdbcType=CHAR}, 
      #{createuser,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{modifyuser,jdbcType=VARCHAR}, 
      #{modifydate,jdbcType=TIMESTAMP}, #{venueid,jdbcType=VARCHAR}, #{flag,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.yjyy.entity.Course">
    insert into yj_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseid != null">
        COURSEID,
      </if>
      <if test="coursename != null">
        COURSENAME,
      </if>
      <if test="coursetype != null">
        COURSETYPE,
      </if>
      <if test="courseteacher != null">
        COURSETEACHER,
      </if>
      <if test="coursephoto != null">
        COURSEPHOTO,
      </if>
      <if test="duration != null">
        DURATION,
      </if>
      <if test="studentnumber != null">
        STUDENTNUMBER,
      </if>
      <if test="coursecolor != null">
        COURSECOLOR,
      </if>
      <if test="coursedifficulty != null">
        COURSEDIFFICULTY,
      </if>
      <if test="createuser != null">
        CREATEUSER,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="modifyuser != null">
        MODIFYUSER,
      </if>
      <if test="modifydate != null">
        MODIFYDATE,
      </if>
      <if test="venueid != null">
        VENUEID,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseid != null">
        #{courseid,jdbcType=VARCHAR},
      </if>
      <if test="coursename != null">
        #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="coursetype != null">
        #{coursetype,jdbcType=CHAR},
      </if>
      <if test="courseteacher != null">
        #{courseteacher,jdbcType=VARCHAR},
      </if>
      <if test="coursephoto != null">
        #{coursephoto,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="studentnumber != null">
        #{studentnumber,jdbcType=INTEGER},
      </if>
      <if test="coursecolor != null">
        #{coursecolor,jdbcType=VARCHAR},
      </if>
      <if test="coursedifficulty != null">
        #{coursedifficulty,jdbcType=CHAR},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyuser != null">
        #{modifyuser,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null">
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="venueid != null">
        #{venueid,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.yjyy.entity.Course">
    update yj_course
    <set>
      <if test="coursename != null">
        COURSENAME = #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="coursetype != null">
        COURSETYPE = #{coursetype,jdbcType=CHAR},
      </if>
      <if test="courseteacher != null">
        COURSETEACHER = #{courseteacher,jdbcType=VARCHAR},
      </if>
      <if test="coursephoto != null">
        COURSEPHOTO = #{coursephoto,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        DURATION = #{duration,jdbcType=INTEGER},
      </if>
      <if test="studentnumber != null">
        STUDENTNUMBER = #{studentnumber,jdbcType=INTEGER},
      </if>
      <if test="coursecolor != null">
        COURSECOLOR = #{coursecolor,jdbcType=VARCHAR},
      </if>
      <if test="coursedifficulty != null">
        COURSEDIFFICULTY = #{coursedifficulty,jdbcType=CHAR},
      </if>
      <if test="createuser != null">
        CREATEUSER = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyuser != null">
        MODIFYUSER = #{modifyuser,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null">
        MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="venueid != null">
        VENUEID = #{venueid,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where COURSEID = #{courseid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.yjyy.entity.Course">
    update yj_course
    set COURSENAME = #{coursename,jdbcType=VARCHAR},
      COURSETYPE = #{coursetype,jdbcType=CHAR},
      COURSETEACHER = #{courseteacher,jdbcType=VARCHAR},
      COURSEPHOTO = #{coursephoto,jdbcType=VARCHAR},
      DURATION = #{duration,jdbcType=INTEGER},
      STUDENTNUMBER = #{studentnumber,jdbcType=INTEGER},
      COURSECOLOR = #{coursecolor,jdbcType=VARCHAR},
      COURSEDIFFICULTY = #{coursedifficulty,jdbcType=CHAR},
      CREATEUSER = #{createuser,jdbcType=VARCHAR},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      MODIFYUSER = #{modifyuser,jdbcType=VARCHAR},
      MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      VENUEID = #{venueid,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where COURSEID = #{courseid,jdbcType=VARCHAR}
  </update>

  <insert id="insertCourseCard" parameterType="com.example.yjyy.entity.dto.CourseDto">
    <if test="cardlist != null and cardlist.size() != 0">
      insert into yj_card_course(cardid,courseid) values
      <foreach collection="cardlist" item="cardid" separator=",">
        (#{cardid},#{courseid})
      </foreach>
    </if>
  </insert>

  <insert id="insertCourseLabel" parameterType="com.example.yjyy.entity.dto.CourseDto">
    <if test="labellist != null and labellist.size() != 0">
      insert into yj_course_label(courseid,label) values
      <foreach collection="labellist" item="label" separator=",">
        (#{courseid},#{label})
      </foreach>
    </if>
  </insert>
  
  <select id="getCourseList" parameterType="String" resultType="com.example.yjyy.result.business.PageResult.CoursePageResult">
    select A.*, count(1) over() as CNT, ceil(count(1) over()/#{pagesize}) as PAGE from(
    select
    c.courseid,c.coursename,d.label coursetype,c.coursephoto,u.username courseteacher,c.duration,c.studentnumber,c.coursecolor,c.coursedifficulty,v.venuename,c.remark
    from yj_course c
    left join sys_user u on u.userid = c.courseteacher and u.flag = '0'
    left join yj_venue v on v.venueid = c.venueid and v.flag = '0'
    left join sys_dict d on d.type = 'course_type' and d.flag = '0' and d.key = c.coursetype
    where c.flag = '0'
    <if test="coursename != null and coursename != ''">
      and c.coursename like concat('%',#{coursename},'%')
    </if>
    order by c.createdate desc
    limit #{begin},#{end}
    )A
  </select>

  <select id="getCardListByCourseId" parameterType="String" resultType="com.example.yjyy.result.business.CardResult">
    select cardid,cardname
    from yj_card
    where cardid in (select cardid from yj_card_course where courseid = #{courseid}) and flag = '0'
  </select>

  <select id="getLabelByCourseId" parameterType="String" resultType="String">
    select label from yj_course_label where courseid = #{courseid}
  </select>

  <delete id="deleteCardCourse" parameterType="String">
    delete from yj_card_course where courseid = #{courseid}
  </delete>

  <delete id="deleteCourseLabel" parameterType="String">
    delete from yj_course_label where courseid = #{courseid}
  </delete>
</mapper>